[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #27272a;
    /* --md-primary-fg-color: #25aae1; */
    --md-accent-fg-color: #ff9016;
    --md-typeset-a-color: #25aae1;
    /* --md-primary-bg-color: hsla(0, 100%, 0%, 0.8); */
    
}

[data-md-color-scheme="default"] {
    --md-primary-fg-color: #27272a;
    /* --md-primary-fg-color: #25aae1; */
    --md-accent-fg-color:   #ff9016;
    --md-typeset-a-color:#25aae1;
}

[data-md-color-scheme="tinycircuits"] {
    --md-primary-fg-color: #27272a;
    /* --md-primary-fg-color: #25aae1; */
    --md-accent-fg-color: #25aae1;
    --md-primary-fg-color--light: #25aae1;
    --md-primary-fg-color--dark: #25aae1;
}



/* 
[data-md-color-scheme="slate"] {
    --md-hue: 230;
} */

/*
Thumby colors: 
blue - #00aeef
orange - #ff9016
pink - #e37dce
yellow - #f0e362
blacks:
darkest: #16171d
medium: #1c1d26
Light background text is on: #2e303e */